[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore
  editor = nvim
  whitespace = warn
  autocrlf = input
	hooksPath = /Users/hilarydenton/.git-hooks
[diff]
  algorithm = patience
[fetch]
  prune = true
[include]
  path = ~/.gitconfig.local
[interactive]
  singlekey = true
[merge]
  ff = only
[push]
  default = current
[rebase]
  autosquash = true
[user]
  name = Hilary Denton
  email = 5042071+Hilaryous@users.noreply.github.com
[init]
	defaultBranch = main
                                                                                        [diff "lfs"]
	textconv = cat
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
