[aliases]
  b = branch 
  c = commit
  chead = commit --amend -CHEAD
  co = checkout 
  cp = cherry-pick
  lod = log --graph --pretty="%Cgreen%h%Creset%Cblue%d%Creset %Cred%an%Creset: %s"
  lot = log --no-merges --pretty=oneline --pretty="format :%h %s"
  nap = add -N . && add -p
  p = push
  pr = pull --rebase
  ra = rebase --abort
  reset-authors = commit --amend --reset-author -C HEAD
  rc = rebase --continue
  ri = rebase --interactive
  st = status

[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore
  editor = nvim
  whitespace = warn
  autocrlf = input
	hooksPath = /Users/hilarydenton/.git-hooks
[diff]
  algorithm = patience
[fetch]
  prune = true
[include]
  path = ~/.gitconfig.local
[interactive]
  singlekey = true
[merge]
  ff = only
[push]
  default = current
[rebase]
  autosquash = true
[user]
  name = Hilary Denton
  email = 5042071+Hilaryous@users.noreply.github.com
[init]
	defaultBranch = main
                                                                                        [diff "lfs"]
	textconv = cat
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
